<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mygdx.game.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme">
        <activity
            android:name="com.activities.StartingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SquareTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".EvolvingSquareTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".EvolvingSquareTillingLauncher2"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".EvolvingSquareTillingLauncher3"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".EvolvingHexagonalTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".EvolvingTriangullarTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".HexagonalTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".TriangullarTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".AIOLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".SnubTrihexagonalTilingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".TruchetTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".RandomTruchetTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".RecursiveTruchetTillingLauncher"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
